body {
    background-image: url('https://imgs.search.brave.com/bdPmsVrhGz2DCL5QCJ3s57JsJS5YaEcW8azrZnfP7EE/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMDcv/NTU5LzYyOC9zbWFs/bC93b3JsZC1ibG9v/ZC1kb25vci1kYXkt/YmFja2dyb3VuZC1m/cmVlLXZlY3Rvci5q/cGc');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}